<div class="card-header">    
</div>

<div class="card-body">
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="table-secondary">
                    <th>Name</th>
                    <th>Enabled</th>
                    <th>Valid</th>
                    <th>Authorised</th>
                    <th>Favourite Sports</th>
                </tr>
            </thead>
            <tbody *ngIf='people.length'>
                <tr *ngFor='let person of people'>
                    <td>
                        <a [routerLink]="['/person', person.id]">
                            {{person.firstName}} {{person.lastName}}
                        </a>
                    </td>
                    <td>{{person.isEnabled}}</td>
                    <td>{{person.isValid}}</td>
                    <td>{{person.isAuthorised}}</td>
                    <td>{{person.favouriteSports | concatsports:' , '}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>