<div class="card-header text-center">
    {{pageTitle}}
</div>
<div class="card-body">
    <div class='row pt-2'>
        <label class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" value={{person?.firstName}}>
        </div>
    </div>

    <div class='row pt-2'>
        <label class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" value={{person?.lastName}}>
        </div>
    </div>

    <div class='row pt-2'>
        <label class="col-sm-2 control-label">Enabled</label>
        <div class="col-sm-4 form-check form-switch form-switch-override">
            <input class="form-check-input form-check-input-override" type="checkbox" [checked]='person?.isEnabled' />
        </div>
    </div>

    <div class='row pt-2'>
        <label class="col-sm-2 control-label">Valid</label>
        <div class="col-sm-4  form-check form-switch form-switch-override">
            <input class="form-check-input form-check-input-override" type="checkbox" [checked]='person?.isValid' />
        </div>
    </div>

    <div class='row pt-2'>
        <label class="col-sm-2 control-label">Authorised</label>
        <div class="col-sm-4  form-check form-switch form-switch-override">
            <input class="form-check-input form-check-input-override" type="checkbox" [checked]='person?.isAuthorised' />
        </div>
    </div>

    <div class='row pt-2'>
        <label class="col-sm-2 control-label">Favourite Sports</label>
        <div class="col-sm-2">
            <div *ngFor='let sport of person?.favouriteSports'>
                <input class="form-check-input mr-5" type="checkbox" [checked]='sport.active' />
                <label>{{sport.name}}</label>
            </div>
        </div>        
    </div>
</div>
<div class='card-footer'>
    <button class='btn btn-outline-dark'
            style='width:80px'
            (click)='navigateBack()'>
            < Back
    </button>
    </div>